@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
[x-cloak] {
  display: none !important;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: rgba(254, 120, 103, 0.05);
}

.container {
  width: 375px;
  height: 100%;
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("./images/mobile/image-header.jpg");
  background-size: cover;
}
@media (min-width: 768px) {
  header {
    background-image: url("./images/desktop/image-header.jpg");
    background-position: center;
  }
}
@media (min-width: 1440px) {
  header {
    height: 800px;
  }
}
header .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.7rem 1rem 1.7rem 1.5rem;
  position: relative;
}
@media (min-width: 1024px) {
  header .header-top {
    margin: 2.3rem 2.5rem;
  }
}
header .header-top .logo {
  height: 24px;
  color: white;
}
@media (min-width: 1440px) {
  header .header-top .logo {
    height: 33px;
  }
}
header .header-top .desktop-menu {
  display: none;
}
@media (min-width: 1024px) {
  header .header-top .desktop-menu {
    display: flex;
  }
}
header .header-top nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  list-style: none;
  width: 465px;
  font-size: 13pt;
  font-weight: 600;
}
header .header-top nav > ul li a {
  text-decoration: none;
  color: white;
}
header .header-top nav > ul li a:hover {
  color: #5a636c;
}
header .header-top nav > ul li:last-of-type {
  background-color: white;
  padding: 1.1rem 1.75rem;
  border-radius: 2rem;
  text-transform: uppercase;
  cursor: pointer;
}
header .header-top nav > ul li:last-of-type a {
  color: black;
  font-family: "Fraunces", sans-serif;
  font-size: 12pt;
  font-weight: 700;
}
header .header-top nav > ul li:last-of-type:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
header .header-top nav > ul li:last-of-type:hover a {
  color: white;
}
header .header-top .mobile-menu-container {
  display: flex;
}
@media (min-width: 1024px) {
  header .header-top .mobile-menu-container {
    display: none;
  }
}
header .header-top .mobile-menu-container button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0.5rem;
}
header .header-top .mobile-menu-container button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
header .header-top .mobile-menu-container .mobile-menu {
  position: absolute;
  top: 4.7rem;
  background-color: #fafafa;
  right: 0;
  left: 0;
  padding: 2.4rem 0;
}
header .header-top .mobile-menu-container .mobile-menu ul {
  flex-direction: column;
  width: 100%;
  display: flex;
  height: 227px;
}
header .header-top .mobile-menu-container .mobile-menu ul li a {
  text-decoration: none;
  color: #818498;
  font-size: 15pt;
}
header .header-top .mobile-menu-container .mobile-menu ul li a:hover {
  color: #5a636c;
}
header .header-top .mobile-menu-container .mobile-menu ul li:last-of-type {
  background-color: #fad400;
  padding: 1.1rem 1.75rem;
  border-radius: 2rem;
  text-transform: uppercase;
  cursor: pointer;
}
header .header-top .mobile-menu-container .mobile-menu ul li:last-of-type a {
  color: #23303e;
  font-family: "Fraunces", sans-serif;
  font-size: 12pt;
  font-weight: 700;
}
header .header-top .mobile-menu-container .mobile-menu ul li:last-of-type:hover {
  background-color: rgba(250, 212, 0, 0.7);
}
header .header-top .mobile-menu-container .mobile-menu:before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 17px solid #fafafa;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  transform: rotate(135deg);
  display: block;
  position: absolute;
  top: -14px;
  right: -11px;
}
header .header-center {
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1440px) {
  header .header-center {
    margin-top: 4.2rem;
  }
}
header .header-center h1 {
  text-align: center;
  font-size: 28pt;
  color: white;
  font-family: "Fraunces", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  font-weight: 900;
}
@media (min-width: 1440px) {
  header .header-center h1 {
    font-size: 43pt;
  }
}
header .header-center img {
  width: 36px;
  height: 114px;
  margin-top: 3.2rem;
  margin-bottom: 8.4rem;
}
@media (min-width: 1440px) {
  header .header-center img {
    margin-top: 5.7rem;
    margin-bottom: 0;
  }
}

.services .row {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.services .row:first-of-type {
  flex-direction: column-reverse;
}
@media (min-width: 1024px) {
  .services .row {
    flex-direction: row !important;
  }
}
.services .row .block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media (min-width: 1024px) {
  .services .row .block {
    width: 50%;
  }
}
.services .row picture {
  display: flex;
}
@media (min-width: 768px) {
  .services .row picture {
    width: 100%;
  }
}
.services .row picture img {
  width: 100%;
}
.services .row .text-block-left {
  margin: 3.9rem 0 3.5rem;
}
@media (min-width: 1440px) {
  .services .row .text-block-left {
    margin-left: 3.4rem;
    margin-top: 3.4rem;
  }
}
.services .row .text-block-right {
  margin: 3.9rem 0 3.5rem;
}
@media (min-width: 1440px) {
  .services .row .text-block-right {
    margin-left: -3.4rem;
    margin-top: 3.4rem;
  }
}
.services .row .learn-more-container {
  width: fit-content;
  position: relative;
  padding: 0 0.5em;
  cursor: pointer;
}
.services .row .learn-more-container a {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  text-decoration: none;
  font-size: 12pt;
  text-transform: uppercase;
  color: #23303e;
}
.services .row .learn-more-container .marker {
  height: 0.5rem;
  width: 100%;
  opacity: 0.5;
  border-radius: 1rem;
  position: absolute;
  bottom: -0.2rem;
  left: 0;
}
.services .row .learn-more-container .red-marker {
  background-color: rgba(254, 120, 103, 0.5);
}
.services .row .learn-more-container .yellow-marker {
  background-color: rgba(250, 212, 0, 0.5);
}
.services .row .learn-more-container:hover .red-marker {
  background-color: #fe7867;
}
.services .row .learn-more-container:hover .yellow-marker {
  background-color: #fad400;
}
.services .bottom-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
@media (min-width: 1024px) {
  .services .bottom-row {
    flex-direction: row;
  }
}
.services .bottom-row .block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}
@media (min-width: 1024px) {
  .services .bottom-row .block {
    width: 50%;
  }
}
.services .bottom-row picture {
  display: flex;
}
@media (min-width: 768px) {
  .services .bottom-row picture {
    width: 100%;
  }
}
.services .bottom-row picture img {
  width: 100%;
}
.services .bottom-row .text-block-bottom {
  text-align: center;
  align-items: center;
  opacity: 0.65;
  position: absolute;
  bottom: 3.8rem;
}
@media (min-width: 1024px) {
  .services .bottom-row .text-block-bottom {
    width: 70%;
    bottom: 2.3rem;
  }
}
@media (min-width: 1440px) {
  .services .bottom-row .text-block-bottom {
    width: 46%;
    bottom: 3.8rem;
  }
}
.services .bottom-row .text-block-bottom .graphic-design-block {
  color: #25564b;
}
.services .bottom-row .text-block-bottom .photography-block {
  color: #19536b;
}
.services .bottom-row .text-block-bottom h3 {
  font-size: 21.1pt;
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  margin-bottom: 1.8rem;
  text-transform: capitalize;
}
.services .bottom-row .text-block-bottom p {
  margin-bottom: 0;
  line-height: 1.7em;
  font-size: 11.8pt;
  color: inherit;
}
.services .text-block {
  flex-direction: column;
  justify-content: center;
  width: 90%;
  flex: none;
  text-align: center;
  display: flex;
  align-items: center;
}
@media (min-width: 1024px) {
  .services .text-block {
    width: 70%;
  }
}
@media (min-width: 1440px) {
  .services .text-block {
    align-items: flex-start;
    text-align: left;
    width: 62%;
  }
}
.services .text-block h2 {
  font-size: 24pt;
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  margin-bottom: 1.9rem;
  color: #23303e;
}
@media (min-width: 1440px) {
  .services .text-block h2 {
    font-size: 30.7pt;
  }
}
.services .text-block p {
  margin-bottom: 1.7rem;
  line-height: 1.7em;
  font-size: 13.5pt;
  color: #818498;
}
@media (min-width: 1440px) {
  .services .text-block p {
    margin-bottom: 2.7rem;
  }
}

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
@media (min-width: 1024px) {
  .testimonials {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
}
.testimonials h2 {
  font-size: 12pt;
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #a7abae;
}
@media (min-width: 1440px) {
  .testimonials h2 {
    font-size: 15.5pt;
  }
}
.testimonials .testimonials-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 4.25rem;
}
@media (min-width: 1440px) {
  .testimonials .testimonials-container {
    width: 1100px;
    margin-top: 5.25rem;
    flex-direction: row;
  }
}
@media (min-width: 1440px) {
  .testimonials .testimonials-container {
    width: 1100px;
    margin-top: 5.25rem;
    flex-direction: row;
  }
}
.testimonials .client {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80%;
  margin-bottom: 3.5rem;
}
.testimonials .client:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 1440px) {
  .testimonials .client {
    margin-bottom: 0 !important;
    max-width: 333px;
  }
}
.testimonials .client img {
  width: 72px;
  border-radius: 4rem;
}
.testimonials .client p {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #5a636c;
  line-height: 1.7em;
  font-size: 14.6pt;
  letter-spacing: -0.067rem;
}
@media (min-width: 1440px) {
  .testimonials .client p {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}
.testimonials .client span:first-of-type {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  color: #23303e;
  font-size: 13pt;
  margin-bottom: 1rem;
}
.testimonials .client span:last-of-type {
  color: #a7abae;
  font-size: 11pt;
  font-weight: 600;
}

.gallery div {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 1024px) {
  .gallery div {
    flex-wrap: nowrap;
  }
}
.gallery div picture {
  width: 50%;
  display: flex;
}
@media (min-width: 1024px) {
  .gallery div picture {
    width: 25%;
  }
}
.gallery div picture img {
  width: 100%;
  height: auto;
}
@media (min-width: 1440px) {
  .gallery div picture img {
    height: 450px;
  }
}

footer {
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #8dd3c5;
}
footer div:first-of-type {
  margin-top: 3rem;
  margin-bottom: 5rem;
}
footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 300px;
  font-size: 13pt;
  font-weight: 600;
}
footer ul li a {
  text-decoration: none;
  color: #458c7e;
}
footer ul li a:hover {
  color: white;
}
footer .socials ul {
  width: 175px;
}
footer .socials ul li a {
  color: #458c7e;
}
footer .socials ul li a:hover svg > use {
  color: white;
}
footer .social-icon {
  width: 20px;
  height: 20px;
}
footer svg {
  height: 33px;
  width: 170px;
  color: inherit;
}
footer svg use {
  color: #458c7e;
}

/*# sourceMappingURL=style.css.map */
